<div ng-cloak layout-gt-sm="row" layout="column">	
	<div flex-gt-sm="100" flex>	
		<md-toolbar layout="row" class="md-hue-3">
			<div class="md-toolbar-tools">
				<span>Todo List ( {{$ctrl.incompleteCount}} )</span>
				
				<label class="hide-completed">
					<input type="checkbox" ng-model="$ctrl.hideCompleted"/>
					Hide Completed Tasks
				</label>
				
				<login-buttons></login-buttons>
			</div>
		</md-toolbar>
		
		<md-content>
			<md-list ng-cloak>
				<md-subheader class="md-no-sticky">
				<form ng-submit="$ctrl.addTask($ctrl.newTask)" ng-show="$ctrl.currentUser">
					<md-input-container class="md-block">
						<input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new tasks"/>
					</md-input-container>
				</form>
				</md-subheader>
				<md-list-item ng-repeat="task in $ctrl.tasks" ng-class="{'checked': task.checked, 'private': task.private}">
					<md-checkbox ng-checked="task.checked" ng-click="$ctrl.setChecked(task)" ng-show="task.owner === $ctrl.currentUser._id"></md-checkbox>
					<div class="md-list-item-text">
						<h3>{{task.username}}</h3>
						<p>{{task.text}}</p>
						<md-button class="md-primary md-secondary" ng-click="$ctrl.setPrivate(task)" ng-show="task.owner === $ctrl.currentUser._id">
							{{task.private == true ? "Private" : "Public"}}
						</md-button>
						<md-button class="md-accent md-secondary" ng-click="$ctrl.removeTask(task)" ng-show="task.owner === $ctrl.currentUser._id">Delete</md-button>
					</div>
				</md-list-item>
			</md-list>
		</md-content>
	</div>
</div>